<?xml version="1.0"?>
<!--
/**
 * Seepossible
 * @package Seepossible_Newsletter
 * @copyright Copyright(C) 2015 Seepossible (contact@seepossible.com)
 * @author Seepossible <contact@seepossible.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Newsletter\Controller\Subscriber\NewAction" type="Seepossible\Newsletter\Controller\Subscriber\NewAction" />
</config>
